// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "tabler/tabler";

.modal-dialog-slideout {min-height: 100%; margin: 0 0 0 auto;background: #fff;}
.modal.fade .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(100%,0)scale(1);transform: translate(100%,0)scale(1);}
.modal.fade.show .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(0,0);transform: translate(0,0);display: flex;align-items: stretch;-webkit-box-align: stretch;height: 100%;}
.modal.fade.show .modal-dialog.modal-dialog-slideout .modal-body{overflow-y: auto;overflow-x: hidden;}
.modal-dialog-slideout .modal-content{border: 0;}
.modal-dialog-slideout .modal-header, .modal-dialog-slideout .modal-footer {height: 69px; display: block;}
.modal-dialog-slideout .modal-header h5 {float:left;}


#network {
    width: 100%;
    height: 750px;
    border: 1px solid lightgray;
    position: relative;
    float: left;
}

#networkLoadingBar {
    top:0px;
    left:0px;
    width: 100%;
    height: 750px;
    background-color:rgba(200,200,200,0.8);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity:1;
}

#networkBar {
    position:absolute;
    top:0px;
    left:0px;
    width:20px;
    height:20px;
    margin:auto auto auto auto;
    border-radius:11px;
    border:2px solid rgba(30,30,30,0.05);
    background: rgb(0, 173, 246); /* Old browsers */
    box-shadow: 2px 0px 4px rgba(0,0,0,0.4);
}

#networkBarBorder {
    position:absolute;
    top:10px;
    left:10px;
    width:280px;
    height:23px;
    margin:auto auto auto auto;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
    border-radius:10px;
}

#networkText {
    position:absolute;
    top:8px;
    left:310px;
    width:30px;
    height:50px;
    margin:auto auto auto auto;
    font-size:22px;
    color: #000000;
}

.networkOuterBorder {
    position:relative;
    top:400px;
    width:300px;
    height:44px;
    margin:auto auto auto auto;
    background: rgb(252,252,252); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(252,252,252,1) 0%, rgba(237,237,237,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
    border-radius:72px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
